.DS_Store
PLAN.md
assets/dog.png
assets/dog_down.png
assets/dog_sit.png
assets/ganaste.png
assets/gem.png
assets/jugar.png
assets/lunna_face.png
assets/me_lol.png
assets/nico_head.png
assets/start.png
assets/dog_head.png
assets/guaracha.ogg
